<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>OpenPass Sample Site / Client JS SDK / Sample</title>

    <link rel="icon" href="/static/img/favicon.ico" sizes="any" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <script src="https://cdn.myopenpass.com/openpass-js-sdk/v4/openpass-js-sdk.min.js"></script>
</head>

<body>
    <main>
        <div class="p-5">
            <div class="card mt-5">
                <div class="card-body">
                    <h5 class="card-title">Automatically Rendered Sign-In Button Samples</h5>
                    <p class="card-text">Rendered by the JS SDK using the programmatic option.</p>
                </div>
            </div>
            <div class="card mt-5" id="result-card">
                <div class="card-body">
                    <h5 class="card-title" id="result-title">Popup Sign-In Result</h5>
                    <p class="card-text" id="result-body">Click on a popup mode button to see a result here.</p>
                </div>
            </div>
            <div class="card mt-5">
                <table class="card-table table mb-0">
                    <thead>
                        <tr>
                            <th>Mode</th>
                            <th>Shape</th>
                            <th>Shape Variant</th>
                            <th>Size</th>
                            <th>Text</th>
                            <th>Theme</th>
                            <th>Additional Width</th>
                            <th class="text-center">Button</th>
                        </tr>
                    </thead>
                    <tbody id="openpass-buttons-table-body">
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <script type="text/javascript">

        window.addEventListener("load", async () => {

            const openpassButtonsTableBody = document.getElementById('openpass-buttons-table-body');
            const resultCard = document.getElementById('result-card');
            const resultTitle = document.getElementById('result-title');
            const resultBody = document.getElementById('result-body');

            const redirectUri = "http://localhost:3011/handle-redirect";

            const openPassClient = new openpass.OpenPassClient({
                clientId: "7d2a353ef4cd4ea2a45b50bf2fe108ba"
            });

            const popupSuccessCallback = (signInResponse) => {
                resultTitle.innerText = "Success!";
                resultBody.innerText = "Signed in as: " + signInResponse.idToken.email;
                resultCard.classList.add('text-bg-success');

                console.log(signInResponse);
            };

            const popupFailedCallback = (error) => {
                resultTitle.innerText = "Error";
                resultBody.innerText = "Authentication failed: " + error.message;
                resultCard.classList.add('text-bg-danger');

                console.error(error);
            };

            let buttonCount = 0;

            const createTextTd = (text) => {
                const td = document.createElement("td");
                td.innerText = text;
                return td;
            }

            const renderButton = (mode, shape, shapeVarient, size, text, theme, additionalWidth) => {

                // Dynamically create a row in the table for the button
                const row = document.createElement("tr");
                row.appendChild(createTextTd(mode));
                row.appendChild(createTextTd(shape));
                row.appendChild(createTextTd(shapeVarient));
                row.appendChild(createTextTd(size));
                row.appendChild(createTextTd(shape === "standard" ? text : ""));
                row.appendChild(createTextTd(theme));
                row.appendChild(createTextTd(additionalWidth ? `${additionalWidth}px` : ""));

                // Create the button parent container
                const buttonTd = document.createElement("td");
                buttonTd.classList.add("align-middle");
                buttonTd.id = "openpass-btn-" + (++buttonCount);
                row.appendChild(buttonTd);

                // Add the row to the table
                openpassButtonsTableBody.appendChild(row);

                // Use the OpenPass SDK to render the button into the button container td
                openPassClient.renderSignInButton({
                    parentContainerElementId: buttonTd.id,
                    authenticationMode: mode,
                    redirectUrl: redirectUri, // Using a redirectUri for popup mode enables fallback to redirect mode if the popup is blocked
                    popupSuccessCallback: popupSuccessCallback,
                    popupFailedCallback: popupFailedCallback,
                    shape: shape,
                    shapeVariant: shapeVarient,
                    size: size,
                    additionalWidth: additionalWidth,
                    text: text,
                    theme: theme,
                });
                // Centre the button in the td element
                buttonTd.children[0].style["margin-left"] = "auto";
                buttonTd.children[0].style["margin-right"] = "auto";
            }

            renderButton("popup", "standard", "pill", "x-large", "signin_with", "openpass", undefined);
            renderButton("popup", "standard", "pill", "x-large", "signin_with", "openpass", 30);
            renderButton("popup", "standard", "pill", "large", "signin_with", "openpass", undefined);
            renderButton("popup", "standard", "pill", "large", "signin_with", "openpass", 50);
            renderButton("popup", "standard", "pill", "large", "signin_with", "openpass", 65.5);
            renderButton("popup", "standard", "pill", "medium", "signin_with", "openpass", undefined);
            renderButton("popup", "standard", "pill", "small", "signin_with", "openpass", undefined);
            renderButton("popup", "standard", "pill", "x-large", "signin", "openpass", undefined);
            renderButton("popup", "standard", "pill", "large", "signin", "openpass", undefined);
            renderButton("popup", "standard", "pill", "medium", "signin", "openpass", undefined);
            renderButton("popup", "standard", "pill", "small", "signin", "openpass", undefined);
            renderButton("popup", "standard", "pill", "x-large", "continue_with", "openpass", undefined);
            renderButton("popup", "standard", "pill", "large", "continue_with", "openpass", undefined);
            renderButton("popup", "standard", "pill", "medium", "continue_with", "openpass", undefined);
            renderButton("popup", "standard", "pill", "small", "continue_with", "openpass", undefined);

            renderButton("popup", "standard", "pill", "x-large", "signin_with", "light", undefined);
            renderButton("popup", "standard", "pill", "large", "signin_with", "light", undefined);
            renderButton("popup", "standard", "pill", "medium", "signin_with", "light", undefined);
            renderButton("popup", "standard", "pill", "small", "signin", "light", undefined);

            renderButton("popup", "standard", "pill", "x-large", "signin_with", "dark", undefined);
            renderButton("popup", "standard", "pill", "large", "signin_with", "dark", undefined);
            renderButton("popup", "standard", "pill", "medium", "signin_with", "dark", undefined);
            renderButton("popup", "standard", "pill", "small", "signin", "dark", undefined);

            renderButton("redirect", "standard", "pill", "x-large", "signin_with", "openpass", undefined);
            renderButton("redirect", "standard", "pill", "x-large", "signin_with", "openpass", 30);
            renderButton("redirect", "standard", "pill", "large", "signin_with", "openpass", undefined);
            renderButton("redirect", "standard", "pill", "large", "signin_with", "openpass", 50);
            renderButton("redirect", "standard", "pill", "large", "signin_with", "openpass", 65.5);
            renderButton("redirect", "standard", "pill", "medium", "signin_with", "openpass", undefined);
            renderButton("redirect", "standard", "pill", "small", "signin_with", "openpass", undefined);
            renderButton("redirect", "standard", "pill", "x-large", "signin", "openpass", undefined);
            renderButton("redirect", "standard", "pill", "large", "signin", "openpass", undefined);
            renderButton("redirect", "standard", "pill", "medium", "signin", "openpass", undefined);
            renderButton("redirect", "standard", "pill", "small", "signin", "openpass", undefined);
            renderButton("redirect", "standard", "pill", "x-large", "continue_with", "openpass", undefined);
            renderButton("redirect", "standard", "pill", "large", "continue_with", "openpass", undefined);
            renderButton("redirect", "standard", "pill", "medium", "continue_with", "openpass", undefined);
            renderButton("redirect", "standard", "pill", "small", "continue_with", "openpass", undefined);

            renderButton("popup", "standard", "rectangle", "x-large", "signin_with", "openpass", undefined);
            renderButton("popup", "standard", "rectangle", "large", "signin_with", "openpass", undefined);
            renderButton("popup", "standard", "rectangle", "medium", "signin_with","openpass", undefined);
            renderButton("popup", "standard", "rectangle", "small", "signin_with", "openpass", undefined);
            renderButton("popup", "standard", "rectangle", "x-large", "signin", "openpass", undefined);
            renderButton("popup", "standard", "rectangle", "large", "signin", "openpass", undefined);
            renderButton("popup", "standard", "rectangle", "medium", "signin", "openpass", undefined);
            renderButton("popup", "standard", "rectangle", "small", "signin", "openpass", undefined);
            renderButton("popup", "standard", "rectangle", "x-large", "continue_with", "openpass", undefined);
            renderButton("popup", "standard", "rectangle", "large", "continue_with", "openpass", undefined);
            renderButton("popup", "standard", "rectangle", "medium", "continue_with", "openpass", undefined);
            renderButton("popup", "standard", "rectangle", "small", "continue_with", "openpass", undefined);

            renderButton("popup", "standard", "rectangle", "x-large", "signin_with", "light", undefined);
            renderButton("popup", "standard", "rectangle", "large", "signin_with", "light", undefined);
            renderButton("popup", "standard", "rectangle", "medium", "signin_with", "light", undefined);
            renderButton("popup", "standard", "rectangle", "small", "signin", "light", undefined);

            renderButton("popup", "standard", "rectangle", "x-large", "signin_with", "dark", undefined);
            renderButton("popup", "standard", "rectangle", "large", "signin_with", "dark", undefined);
            renderButton("popup", "standard", "rectangle", "medium", "signin_with", "dark", undefined);
            renderButton("popup", "standard", "rectangle", "small", "signin", "dark", undefined);

            renderButton("popup", "icon", "square", "x-large", undefined, "openpass", undefined);
            renderButton("popup", "icon", "square", "large", undefined, "openpass", undefined);
            renderButton("popup", "icon", "square", "medium", undefined, "openpass", undefined);
            renderButton("popup", "icon", "square", "medium", undefined, "openpass", 10);
            renderButton("popup", "icon", "square", "small", undefined, "openpass", undefined);

            renderButton("popup", "icon", "square", "x-large", undefined, "light", undefined);
            renderButton("popup", "icon", "square", "large", undefined, "light", undefined);
            renderButton("popup", "icon", "square", "medium", undefined, "light", undefined);
            renderButton("popup", "icon", "square", "small", undefined, "light", undefined);

            renderButton("popup", "icon", "square", "x-large", undefined, "dark", undefined);
            renderButton("popup", "icon", "square", "large", undefined, "dark", undefined);
            renderButton("popup", "icon", "square", "medium", undefined, "dark", undefined);
            renderButton("popup", "icon", "square", "small", undefined, "dark", undefined);

            renderButton("popup", "icon", "circle", "x-large", undefined, "openpass", undefined);
            renderButton("popup", "icon", "circle", "large", undefined, "openpass", undefined);
            renderButton("popup", "icon", "circle", "large", undefined, "openpass", 20);
            renderButton("popup", "icon", "circle", "medium", undefined, "openpass", undefined);
            renderButton("popup", "icon", "circle", "small", undefined, "openpass", undefined);

            renderButton("popup", "icon", "circle", "x-large", undefined, "light", undefined);
            renderButton("popup", "icon", "circle", "large", undefined, "light", undefined);
            renderButton("popup", "icon", "circle", "medium", undefined, "light", undefined);
            renderButton("popup", "icon", "circle", "small", undefined, "light", undefined);

            renderButton("popup", "icon", "circle", "x-large", undefined, "dark", undefined);
            renderButton("popup", "icon", "circle", "large", undefined, "dark", undefined);
            renderButton("popup", "icon", "circle", "medium", undefined, "dark", undefined);
            renderButton("popup", "icon", "circle", "small", undefined, "dark", undefined);
        });

    </script>
</body>

</html>
