<!DOCTYPE html>
<html lang="en">

<head>
    <title>OpenPass Sample Site / Client JS SDK / Sample</title>
    <link rel="icon" href="/static/img/favicon.ico" sizes="any" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap"
        rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.myopenpass.com/openpass-js-sdk/v4/openpass-js-sdk.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<body>
    <main>
        <div id="openpass-quick-auth-demo"></div>
        <div class="container p-5">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">
                        <a href="/">Back to samples list</a>
                    </p>
                    <button id="clear-session">Clear session</button>
                </div>
            </div>
        </div>
    </main>
</body>


<script src="http://localhost:8885/sdk"></script>
<script>

    let authClient = undefined;

    document.getElementById("clear-session").addEventListener("click", () => {
        localStorage.removeItem("openpass-authenticated");
        window.location.reload();
    });

    function popupSuccessCallback(signInResponse) {

        localStorage.setItem("openpass-authenticated", true)
        console.log("quick-auth: Popup flow sign in succeeded, email address: " + signInResponse.idToken.email, " setting session storage to true");
    }

    function popupFailedCallback(error) {

        console.log("quick-auth: Popup flow sign in failed, error: " + error.message);

        const resultContainer = document.createElement('div');
        resultContainer.id = "popup-result";
        resultContainer.innerHTML = 'Sign in failed: ' + error.message;
        resultContainer.setAttribute("data-result", "failed");
        resultContainer.setAttribute("data-error-message", error.message);

        const mainElement = document.getElementsByTagName('main')[0];
        mainElement.appendChild(resultContainer);
    }

    window.addEventListener("load", async () => {

        authClient = new openpass.OpenPassClient({
            clientId: "7d2a353ef4cd4ea2a45b50bf2fe108ba",
        });

        console.log(`openpass-authenticated: ${localStorage.getItem("openpass-authenticated")}`)

        try {
            authClient.renderQuickAuth({
                parentContainerElementId: "openpass-quick-auth-demo",
                authenticationMode: "popup",
                popupSuccessCallback,
                popupFailedCallback,
                visible: localStorage.getItem("openpass-authenticated") !== "true"
            })
        } catch (e) {
            console.error(e);
        }

    });
</script>

</html>