<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenPassClientId</key>
	<string>51c42041a7de48f59bff4f8a8a6ad18b</string>
	<key>OpenPassRedirectHost</key>
	<string>com.myopenpass.sample</string>
</dict>
</plist>
